.chat {
  background: url("../../../../public/images/chat_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100svh - 121px - 63px - 13px);
  display: flex;
  flex-direction: column;
  padding: 0px 13px 14px 13px;
  justify-content: space-between;
}

.chat__messages {
  overflow-y: scroll;
  flex-grow: 1;
  max-height: calc(100svh - 121px - 63px - 35px - 55px - 10px);
  display: flex;
  flex-direction: column;
  gap: 23px;
  & > div:first-child {
    margin-top: 13px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.chat__message_received,
.chat__message_sent {
  max-width: 70%;
  padding: 10px 20px;
  color: #fff;
  font-family: "Inter";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.chat__message_received {
  border-radius: 19px 19px 19px 0px;
  background: #defcfc;
  margin-right: auto;
  color: black;
}

.chat__message_sent {
  border-radius: 19px 19px 0px 19px;
  background: #3531fd;
  margin-left: auto;
}

.chat__message_box {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  & > img {
    cursor: pointer;
  }
}

.chat__message_input {
  display: flex;
  width: 100%;
  padding: 16px 10px 16px 8px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 17px;
  background: #f6f6f6;
  box-shadow: 0px 3px 10px 0px rgba(129, 121, 121, 0.5),
    0px 2px 8px 0px rgba(201, 187, 187, 0.25);
  & > input {
    border: none;
    width: 100%;
    height: auto;
    background: #f6f6f6;
    color: black;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #9e9e9e;
    }
  }
  & > img {
    cursor: pointer;
    &:last-of-type {
      cursor: not-allowed;
    }
  }
}
